:root {
  --tp-theme-color: #9929fb;
  --tp-theme-color-2: #ffe815;
  --tp-theme-color-3: #fedc76;
  --tp-theme-color-4: #fff3d7;
  --tp-theme-orange: #ff5b15;
  --tp-theme-red: #ff3838;
  --tp-heading-color: #0a0e1a;
  --tp-common-black: #000;
  --tp-cream-color: #fbf6ef;
  --tp-body-color: #57595c;
  --tp-theme-nblue: #001c52;
  --white-color: #fff;
  --tp-rom-color: #fbf6ef;
  --color-soft-white: #f0f1f3;
  --cyan-blue: #2a374a;
}
