$font-url: "https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap";
:root {
  --tp-font-heading: "Work Sans", sans-serif;
  --tp-font-body: "Work Sans", sans-serif;
  --tp-font-flaticon: "flaticon";
}
