@use "../../utils" as *;

.pf-about {
  &-area {
    border-radius: 20px;
    // padding-bottom: 190px;
    top: 130px;
    z-index: 1;

    @media #{$lg} {
      top: 175px;
    }

    @media #{$xl} {
      top: 162px;
    }
    @media #{$xxl, $xxlm} {
      top: 190px;
    }

    @media #{$sm, $xs} {
      padding-top: 50px;
      padding-bottom: 60px;
    }
  }
  &-thumb {
    background: #f0f1f3;
  }

  &-content {
    @media #{$lg} {
      padding-left: 0;
    }
    @media #{$md} {
      padding-left: 7px;
    }
    @media #{$sm, $xs} {
      padding-left: 0;
    }

    @media #{$sm, $xs} {
      text-align: center;
    }

    & p {
      @media #{$md, $sm, $xs} {
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 20px;
      }
    }
  }

  &-title {
    font-size: 38px;
    font-weight: 600;
    @media #{$lg} {
      font-size: 36px;
    }
    @media #{$md} {
      font-size: 34px;
    }
    @media #{$sm, $xs} {
      font-size: 30px;
    }
  }

  &-container {
    padding: 90px;
    border-radius: 20px;
    box-shadow: 0px 20px 30px rgba(1, 15, 28, 0.1);

    @media #{$lg} {
      padding: 70px 65px;
    }
    @media #{$md} {
      padding: 60px 45px;
    }
    @media #{$sm, $xs} {
      padding: 20px 45px;
    }
  }
}
